body {
  background-color:  #282A2B;
}

.App {
  font-family: Roboto;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.nav-inactive {
  color: white;
  padding: 10px;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 300;
}

.nav-inactive:hover {
  color: #FF760D;
  padding: 10px;
  letter-spacing: 1px;
  text-decoration: none;
}

.nav-active {
  color: #FF760D;
  padding: 10px;
  letter-spacing: 1px;
  text-underline-offset: 5px;
}

.jumbotron{
  width: 100%;
  height: 650px;
  height: 700px;

  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.jumbotron-cover{
  width: 100%;
  height: 700px;
  background-color: rgb(214,168,207, .3);
  margin-top: -700px;
  z-index: 1;
}

.jumbotron-title{
  z-index: 2;
}

.heading1{
  color:#5F3B6A;
  font-weight: 300;
  font-size: 3.2rem;
  text-shadow: -6px 8px 13px rgba(255,255,255,0.9);
  margin-bottom: 0;
}
.heading2{
  color:#5F3B6A;
  text-shadow: -6px 8px 13px rgba(0,0,0,0.6);
  width: 400px;
}
.span-marked{
  font-weight: 700;
   color: #FF760D;
}
.span-marked2{
  font-weight: 300;
   color: #FF760D;
}

.jumbotron-cover .bg-color-btn{
  background-color: #FF760D;
  color: #5F3B6A;
  margin-right: 10px;
}

.jumbotron-cover .bg-color-btn:hover{
  background-color: transparent;
  border: 1px solid #FF760D ;
  color: #5F3B6A;
}

.cari-anime .heading1{
  font-size: 3rem;
  color: white;
  text-shadow: none;
}

.cari-anime .search-bar{
  border: solid 1px  #FF760D;
  color: #FF760D !important;
  background-color: none;
}

.cari-anime .cardParent{
  box-shadow: -1px 5px 13px 5px rgba(95,59,106,0.44);
  -webkit-box-shadow: -1px 5px 13px 5px rgba(95,59,106,0.44);
  -moz-box-shadow: -1px 5px 13px 5px rgba(95,59,106,0.44);
}
